@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Variables */
$font-stack: 'Overpass', sans-serif;
$white: #ffffff;
$orange: #fb7413;
$light-grey: #959eac;
$medium-grey: #7c8798;
$dark-blue: #252d37;
$body-color: #121417;
$radio-color: #383D45;
$p-font-size: .93rem;

/* Global Styles */
html {
  color: white;
  font-family: $font-stack;
}
/* Reset Styles */
*,
*::before,
*::after {
	margin: 0;
}

body {
  background: $body-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background: $dark-blue;
  border-radius: 30px;
  width: 425px;
  height: 425px;
  position: relative;
  overflow: hidden;
}

article {
  position: absolute;
  display: flex;
  flex-direction: column;
}

p {
  font-size: $p-font-size;
  color: $light-grey;
  line-height: 1.5rem;
}

/* Rating State Styles */
#rating-state {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.rating-form, #thank-you-state section {
  margin: 35px;
}

.rating-form > * {
  margin-bottom: 20px;
}

.star-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $radio-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon img {
  width: 35%;
}

.rating-form h1 {
  margin-top: 25px;
  font-size: 1.8rem
}

/* Radio Styles */
.radios {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.radio-btn {
  appearance: none;
  background: $radio-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  color: $light-grey;
  font-weight: 700;
  cursor: pointer;
}

.radio-btn:hover {
  background: $orange;
  color: white;
}

.radio-btn:checked {
  background: $medium-grey;
  color: white;
}

#radio1::before {
  content: '1';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#radio2::before {
  content: '2';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#radio3::before {
  content: '3';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#radio4::before {
  content: '4';
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#radio5::before {
  content: '5';
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  background: $orange;
  color: white;
  letter-spacing: .15rem;
  font-size: .93rem;
}

button:hover {
  color: $orange;
  background: white;
  cursor: pointer;
}

/* Thank you state styles */

#thank-you-state {
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
}

#thank-you-state section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thank-you-state section > * {
  margin-bottom: 15px;
}

.result {
  background: $radio-color;
  width: 55%;
  height: 30px;
  margin-top: 20px;
  padding: 5px 10px 0 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#result-text {
  color: $orange;
}

#thank-you-state h1 {
  font-size: 1.8rem;
  margin-top: 20px;
}

.thank-you-message {
  text-align: center;
  width: 95%;
}

@media screen and (max-width: 500px) {
  main {
    width: 90%;
  }
  
  .rating-form, #thank-you-state section {
  margin: 20px;
  }
  
  .star-icon, .radio-btn {
    width: 40px;
    height: 40px;
  }
  
  .result {
    width: 190px;
  }
  
}

